<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>



<body>

    <div class="m-3 float-left flex gap-5 xl:float-right">
        <a href="/work"><div class="h-10 w-[70px] border-2 border-black rounded-full flex justify-center items-center bg-red-500 dbtn">work</div></a>
        <a href="/home"><div class="h-10 w-[70px] border-2 border-black rounded-full flex justify-center items-center bg-red-500 dbtn">home</div></a>
    </div>


<%# 
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="/styles/style.css">
%>